@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #0099ff;
    --cor1: #00ffff;
    --cor2: #0400ff;
    --cor3: #00538a;
    --cor4: #00758a;
    --cor5: #ff00d4;
    --cor6: #ffffff;
    --cor7: #ffffffdc; /**Cor para copyright**/
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:  'Bebas Neue', cursive;
}
header{
    width: 100%;
    background-color: var(--cor0);
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: var(--cor6);
    padding: 10px 0px;
    text-align: center;
}
.navmenu > a{
    color: var(--cor2);
    font-weight: bolder;
    transition-duration: 0.3s;
    padding: 0px 0.5% 0px 0.5%;
    font-size: 80%;
}
nav > a:hover{
    font-weight: bolder;
    color: var(--cor5);
}
.divimginicialorganizacao_texto{
    display: inline;
    margin: auto;
    background-color: var(--cor5);
}
.divimginicial{
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 300px;
    height: 300px;
}
.navmenu{
    padding: 10px 0px;
    margin: 0px;
    font-family: var(--fonte-padrao);
}
.divlista{
    margin-top: 10px;
    background-color: aqua;
    border-radius: 20px;
    padding: 10px;
}
.banner{
    display: block;
    background-color: var(--cor5);
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.banner > img{
    background-color: var(--cor5);
    width: 100%;
    
}
body{ 
    min-height: 100vh;
    background-attachment: fixed; 
    background-color: black;
    width: 100%;
}

.logoprincipal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

main{
    padding: 15px;
    margin: auto;
    background-image:linear-gradient(to bottom, rgb(205, 255, 255), rgb(255, 208, 241) );
}
p{ 
    font-family: var(--fonte-padrao);
    text-align: justify; 
    text-indent: 20px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;}
h1{
    color: var(--cor6);
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    font-size: x-large;
    color: var(--cor6);
}
div.video {
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: var(--cor5);
    height: 500px;
    border-radius: 15px;
    padding: 10px;
}
div.video > iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
footer{
    padding: 5px;
    height: 70px;
    background-color: var(--cor0);
}
footer > p{
    text-decoration: underline;
    text-align: center;
    margin: auto;
}
.divcopyright{
    background-color: var(--cor0);
    margin: auto;
}
.divcopyright_p{
    text-align: center;
    text-decoration: underline;
    color: white;
}
.divcopyright_p > a{
    text-align: center;
    text-decoration: underline;
    color: white;
}
nav > img{
    display: block;
    margin: auto;
}
.div_divh3 {
    text-align: center;
}
.creditos{
    color: var(--cor7);
    text-decoration: underline;
    font-size: small;
}
div > p > a{
    color: var(--cor7);
    text-decoration: underline;
}
.divh3{
    display: inline-block;
    background-color: var(--cor5);
    padding: 10px 10px 30px 10px;
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.divh4{
    display: inline-block;
    background-color: var(--cor5);
    padding: 10px 10px 30px 10px;
    margin: 20px;
    width: 300px;
    height: 520px;
    border-radius: 10px;
}
.divh3 > img{
    width: 100%;
    height: 100%;
}
.divh4 > img{
    height: 100%;
}
.divaudio{
    text-align: center;
}
.divseparando{
    background-color: var(--cor5);
    padding: 5px;
    width: auto;
    margin: 0px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
}
.divseparando2{
    background-color: var(--cor5);
    padding: 5px;
    width: auto;
    margin: 10px 0px 10px 0px;
}
.navredessociais{
    width: 60%;
    padding: 0px;
    margin:  10px auto 0px auto ;
    background-color: var(--cor0);
}
footer > nav > div{
    display: inline-block;
    margin: auto;
    padding: 5px;
    background-color: var(--cor0);
}
footer > nav > div > a > img{
    width: 25px;
}
.criando_parallax{
    background-image: url(img/background-capa-phelippesouza0.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ff00d400;
    padding-top: 300px;
    padding-bottom: 300px;
}
.criando_parallax > section{
    background-color: #00538a00;
    height: 30px;
}