@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #0099ff;
    --cor1: #00ffff;
    --cor2: #0400ff;
    --cor3: #00538a;
    --cor4: #00758a;
    --cor5: #ff00d4;
    --cor6: #ffffff;
    --cor7: #ffffffdc; /**Cor para copyright**/
    --cor8: #000000;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque:  'Bebas Neue', cursive;
}
/*
@media screen and (min-width: 769px) {
	header{
        background-image: url(img/2560\ 373\ backgroun\ top\ site.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
        background-color: var(--cor0);
        padding: 0px;
        margin: 0px;
    }
} 

@media screen and (max-width:1000;){
    h1{
        color: var(--cor8);
        text-align: center;
        font-size: 4vw;
    }
    h2{
        font-weight: bold;
        text-align: center;
    }
    h3{
        font-family: var(--fonte-padrao);
        color: var(--cor6);
    }
    p{ 
        text-align: justify;
        font-family: var(--fonte-padrao);
        text-indent: 20px;
        font-weight: 600;
    }
    #Tela_Welcome_texto > p, h2{
        text-indent: 0px;
        text-align: center;
    }
}

*/
h1{
    color: var(--cor8);
    text-align: center;
}
h2{
    font-weight: bold;
    text-align: center;
}
h3{
    font-family: var(--fonte-padrao);
    color: var(--cor6);
}
p{ 
    text-align: justify;
    font-family: var(--fonte-padrao);
    text-indent: 10px;
    font-weight: bold;
}
#Tela_Welcome_texto > p, h2{
    text-indent: 0px;
    text-align: center;
}
#Tela_Welcome{
    background-image: url(img/Background/CityCena.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#Tela_Welcome_texto{
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff81;
    text-align: center;
    margin: auto;
    position: relative;
    top: 40%;
    border-radius: 15px;
}
header{
    width: 100%;
    background-color: var(--cor8);
    padding: 0px;
    margin: 0px;
}
.navmenu{
    background-color: var(--cor6);
    font-family: var(--fonte-padrao);
}
nav{
    padding: 10px 10px;
    text-align: center;
}
.navmenu > a{
    color: var(--cor8);
    font-weight: bolder;
    transition-duration: 0.3s;
    padding: 12px 0.5% 14px 0.5%;
    border-radius: 0px 0px 10px 10px;
    font-size: 80%;
    margin: 0px;
}
nav > a:hover{
    font-weight: bolder;
    color: var(--cor5);
    background-color: var(--cor8);
}
.divimginicial{
    display: block;
    text-align: center;
    margin: auto;
}
.divlista{
    margin-top: 10px;
    background-color: aqua;
    border-radius: 20px;
    padding: 10px;
}
.banner{
    display: block;
    background-color: var(--cor5);
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.banner > img{
    background-color: var(--cor5);
    width: 100%;
    
}
body{ 
    min-height: 100vh;
    background-attachment: fixed; 
    background-color: black;
    width: 100%;
}
.logoprincipal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
}
main{
    padding: 15px;
    margin: auto;
    background-image:linear-gradient(to bottom, rgb(205, 255, 255), rgb(255, 208, 241) );
}

div.video {
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: var(--cor5);
    height: 60vh;
    width: 80vw;
    border-radius: 15px;
    padding: 10px;
}
div.video > iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
footer{
    padding: 5px;
    height: 70px;
    background-color: var(--cor0);
}
footer > p{
    text-decoration: underline;
    text-align: center;
    margin: auto;
}
.divcopyright{
    background-color: var(--cor0);
    margin: auto;
}
.divcopyright_p{
    text-align: center;
    text-decoration: underline;
    color: white;
}
.divcopyright_p > a{
    text-align: center;
    text-decoration: underline;
    color: white;
}
nav > img{
    display: block;
    margin: auto;
}
.div_divh3 {
    text-align: center;
}
.creditos{
    color: var(--cor7);
    text-decoration: underline;
    font-size: small;
}
div > p > a{
    color: var(--cor7);
    text-decoration: underline;
}
.divh3{
    display: inline-block;
    background-color: var(--cor5);
    padding: 10px 10px 30px 10px;
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.divh4{
    display: inline-block;
    background-color: var(--cor5);
    padding: 10px 10px 30px 10px;
    margin: 20px;
    width: 300px;
    height: 520px;
    border-radius: 10px;
}
.divh3 > img{
    width: 100%;
    height: 100%;
}
.divh4 > img{
    height: 100%;
}
.divaudio{
    text-align: center;
}
.divseparando{
    background-color: var(--cor5);
    padding: 5px;
    width: auto;
    margin: 0px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
}
.divseparando2{
    background-color: var(--cor5);
    padding: 5px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}
.navredessociais{
    width: 60%;
    padding: 0px;
    margin:  10px auto 0px auto ;
    background-color: var(--cor0);
}
footer > nav > div{
    display: inline-block;
    margin: auto;
    padding: 5px;
    background-color: var(--cor0);
}
footer > nav > div > a > img{
    width: 25px;
}
.criando_parallax{
    background-image: url(img/Background/093f51f6e8305579af89183d4095cb35.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ff00d400;
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}
.criando_parallax > section{
    background-color: #00538a00;
    height: 30px;
}
.criando_parallax > p{
    color: var(--cor5);
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.829);
    width: 55%;
    border-radius: 15px;
}
table{
    width: 90%;
    height: 400px;
    border-collapse: collapse;
    margin: 20px auto 20px auto;
}
td, tr{
    color: black;
    border: 4px solid var(--cor5);
    background-color: var(--cor6);
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
}
tr{
    background-color: var(--cor4);
    color: var(--cor5);
}
